<nav class="navbar navbar-dark bg-dark">
<i class="bi bi-clock-history"></i>
</nav>

<div class="tit">
  <h1>Inicio</h1>
</div>

<div>
  <div class="bot">
    <button class="btn btn-outline-primary btn-lg" routerLink="/examples">x</button>
  </div>
  <div class="bot2">
    <button type="button" class="btn btn-outline-primary btn-lg" routerLink="/profile">y</button>
  </div>
  <div class="bot3">
    <button type="button" class="btn btn-outline-warning btn-lg" routerLink="/contact">z</button>
  </div>

</div>
