@import "~bootstrap-icons/font/bootstrap-icons.css";

.bot{
  text-align: center;
}

.btn{
  margin-left: 1%;
}

.tit{
  margin-top: 15%;
}

.titt{
  text-align: center;
}

.bi-window-stack{
  color: rgb(255, 255, 255);
  width: 50%;
  height: 50%;
}


