.bot{
  margin-top: 25%;
  margin-left: 45%;
  position: absolute;
}

.bot2{
  margin-top: 25%;
  margin-left: 49%;
  position: absolute;
}

.bot3{
  margin-top: 25%;
  margin-left: 53%;
  position: absolute;
}

.tit{
  margin-top: 20%;
  margin-left: 47%;
  position: absolute;
}
