<header>

  <nav class="navbar navbar-dark bg-dark" style="background-color: rgba(0, 0, 0, 0.527) !important;">
   <div class="container-fluid">
     <i class="bi bi-window-stack .btn-lg"> Carlos Gonzalez</i>

       <div class="d-flex">

         <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-right: 2%;">

          <input
            type="radio" class="btn-check" name="btnradio" id="btnen" autocomplete="off"checked
            [ngClass]="{'active': selectedLanguage == 'en'}"
            (click)="toogleLanguage('en')">

          <label class="btn btn-outline-warning" for="btnen" >En</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnes" autocomplete="off"
            [ngClass]="{'active': selectedLanguage == 'es'}"
            (click)="toogleLanguage('es')">

           <label class="btn btn-outline-warning" for="btnes">Es</label>
        </div>

          <input class="form-control me-2" type="search" placeholder="{{'home.nav' | translate }}" aria-label="Search">
          <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>

       </div>

    </div>
  </nav>

</header>



  <div class="tit">
    <h1 class="titt">{{'home.title' | translate }}</h1>
  </div>


  <div class="bot">

    <button class="btn btn-outline-light btn-lg" routerLink="/examples" placement="bottom"
    ngbTooltip="{{'home.tooltip.example' | translate }}">
    <i class="bi bi-list-columns-reverse"></i> {{'home.example' | translate }}</button>

    <button type="button" class="btn btn-outline-light btn-lg" routerLink="/profile" placement="bottom"
    ngbTooltip="{{'home.tooltip.profile' | translate }}" >
    <i class="bi bi-person-fill"></i> {{'home.profile' | translate }}</button>

    <button type="button" class="btn btn-outline-warning btn-lg" routerLink="/contact" placement="bottom"
    ngbTooltip="{{'home.tooltip.contact' | translate }}">
    <i class="bi bi-send-fill"></i> {{'home.contact' | translate }}</button>

  </div>




