<header>

  <nav class="navbar navbar-dark bg-dark" style="background-color: rgba(0, 0, 0, 0.437);">
   <div class="container-fluid">
     <i class="bi bi-window-stack .btn-lg"> Carlos Gonzalez</i>
      <form class="d-flex">
       <input class="form-control me-2" type="search" placeholder="Que es lo que tu buscas" aria-label="Search">
       <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
     </form>
    </div>
  </nav>

</header>



  <div class="tit">
    <h1 class="titt">¡Hola, Bienvenido!</h1>
  </div>

  <div>
    <div class="bot">

      <button class="btn btn-outline-dark btn-lg" routerLink="/examples" placement="bottom"
      data-bs-toggle="tooltip" title="Aqui encontrara algunos programas que he realizados"><i class="bi bi-list-columns-reverse"></i> Ejercicios</button>

      <button type="button" class="btn btn-outline-dark btn-lg" routerLink="/profile" placement="bottom"
      data-bs-toggle="tooltip" title="En este apartado podras conocer un poco mas de mi trabajo, y de mi" ><i class="bi bi-person-fill"></i> Mi perfil</button>

      <button type="button" class="btn btn-outline-light btn-lg" routerLink="/contact" placement="bottom"
      data-bs-toggle="tooltip" title="En caso de estar interesado en mi trabajo, envia tu propuesta"><i class="bi bi-send-fill"></i> Contacto</button>

    </div>

  </div>


