@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.bot{
  text-align: center;
  margin-top: 3%;
}

.btn{
  margin-left: 1%;
}

.tit{
  margin-top: 15%;
}

.titt{
  text-align: center;
  color:aliceblue;
}

.bi-window-stack{
  color: rgb(255, 255, 255);
  width: 50%;
  height: 50%;
}
/* body{
  background-image: url(https://images7.alphacoders.com/118/thumb-1920-1189627.png);
 height: 100% !important;
  width: 100%;
  background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
} */






