body{
   background-image: url(https://images7.alphacoders.com/118/thumb-1920-1189627.png);
 height: 100% !important;
  width: 100%;
  background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
}
